body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #433737;
    background-image: url("62d16a3805854696da00d8b9f92f6c40_large.jpg");
}
header {
    background: linear-gradient(to right, #a11717, #4b573f);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #2d2424;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.header-content {
    flex-grow: 1;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff8c00;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 00px;
}

.contact-form {
    background: linear-gradient(to right, #a90ad9, #aca097); /* Gradient background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 400px;
    transition: transform 0.3s ease; /* Add transition effect */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 50px;
    
}
  
  .contact-form:hover {
    transform: scale(1.05); /* Enlarge the form on hover */
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white; /* Text color */
  }
  
  .contact-form form {
    text-align: left;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Label text color */
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form input[type="submit"] {
    background-color: #208a24;
    color: rgb(207, 16, 172);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #45a049; /* Change background color on hover */
  }
  svg{
    fill: white;
    width: 20px;
}